[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
aqt = "23.10.1"
requests = "*"
PyQt6 = "*"
pyqt6-webengine = "*"

[dev-packages]

[requires]
python_version = "3.9"
