[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aqt = "2.1.56"
pyqt5 = ">=5.14"

[dev-packages]

[requires]
python_version = "3.9"
